<header>
  <div id="impersonatingBar" *ngIf="isImpersonating" style="width: 100%; position: fixed; z-index: 101; background: rgba(37, 91, 75, 0.7); text-align: center; padding: 0.3rem 0;">
    <span style="padding-right: 1rem; color: #fff;">The current user is being impersonated.</span>

    <button mat-flat-button class="secondary" (click)="stopImpersonation()">Stop Impersonation</button>
  </div>
  <div id="topBar">
    <a [routerLink]="['/']" id="home">Home</a>
    <h1>{{pageService?.getTitle()|async}}</h1>
    <!-- <app-global-search></app-global-search> -->
    <app-user-menu></app-user-menu>
    <app-top-nav></app-top-nav>    
  </div>
  <app-content-header></app-content-header>
</header>
<main>  
  <div class="container mat-typography">
    <router-outlet>
      <sm-page-loading-indicator></sm-page-loading-indicator>      
    </router-outlet>
  </div>
</main>
<footer>
  <hr>
  Copyright SpiderSmart &copy; {{today | date:'y'}}
</footer>