first-rx(Nextjs,Reactjs,Graphql,Nodejs,Express,Kubernetes,Scss,Docker)
spidersmart-admin(angular8+,Graphql)
spidersmart-api(Laravel_lumen,Php7+,Graphql,ORM)
spidersmart-auth(Laravel_lumen,Php7+,Restfull,OAUTH)
IRENA(Nodejs,Express,MVC,JQuery,Rest,Sockets_IO)

/first-rx(Nextjs,Reactjs,Graphql,Nodejs,Express,Kubernetes,Scss,Docker)
/spidersmart-admin(angular8+,Graphql)
/spidersmart-api(Laravel_lumen,Php7+,Graphql,ORM)
/spidersmart-auth(Laravel_lumen,Php7+,Restfull,OAUTH)
/IRENA(Nodejs,Express,MVC,JQuery,Rest,Sockets_IO)