@import '~src/theme';

.assignment-detail {    
    .book-detail {
        display: block;
        text-align: center;
        margin: 0 $page-grid-layout-gap $page-grid-layout-gap 0;

        .book-cover {
            width: 100px;
            height: 150px;
            border: 2px solid #aaa;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .detail-section {
        margin: 1rem 0;

        h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1;
            padding-bottom: 0.5rem;
        }

        .file-list {
            list-style-type: none;
            margin: 0 0 1rem;
            padding: 0;

            > li {
                list-style-type: none;
                display: flex;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                justify-items: center;
            }
        }
    }


    @include respond-to('desktop') {
        display: flex; 
        margin-bottom: 2rem;

        .detail-section {
            margin: 0 1rem;
        }
    }
}

.section-instructions {
    padding: 2rem 1rem 0;
}

.question {
    padding: 2rem 1rem 0;

    > h2 {
        font-size: 1rem;
        margin: 0 0 0.5rem;
    }

    .answer {
        margin: 1rem 0 0;
        
        > h3 {
            font-weight: bold;
            font-size: 0.9rem;
            color: $color-darkgray;
        }
    }

    .answer-list {
        margin: 1rem 0 0;
        list-style-type: decimal;

        > li {
            > mat-icon {
                float: left;
            }
        }
    }
}