<sm-autocomplete
  [options]="availableLevels"
  groupBy="subjectName"
  displayWith="name"
  placeholder="Choose Subjects/Levels"
  [formControl]="levelFilter"
  [closeOnSelection]="false"
  [selectionLabelTemplate]="levelSelectionTemplate"
  [overflowCounter]="6"
  ></sm-autocomplete>
  <ng-template #levelSelectionTemplate let-item="item">{{item.subject.name}} {{item.name}}</ng-template>

<sm-datatable [dataSource]="assignments" defaultSortColumn="title" [serverSideProcessing]="true" (dataRequest)="loadData($event)">
  <sm-datatable-column name="title">
    <ng-container *smDatatableCell="let data">
      <a [routerLink]="['/assignment', data.id, 'view']" *hasPermission="Permission.ASSIGNMENT_VIEW; else nonlinked">{{data.title}}</a>
      <ng-template #nonlinked>{{data.name}}</ng-template>
    </ng-container>
  </sm-datatable-column>
  <sm-datatable-column name="subject">
    <ng-container *smDatatableCell="let data">
      {{data?.level?.subject?.name}} {{data?.level?.name}}
    </ng-container>
  </sm-datatable-column>
  <sm-datatable-column name="dateFrom" label="Last Update">
    <ng-container *smDatatableCell="let data">
      {{data.dateFrom|date: "MMM d, y 'at' h:mm a"}}
    </ng-container>
  </sm-datatable-column>
  <sm-datatable-row-actions>
    <ng-container *smDatatableCell="let data">
      <sm-datatable-row-action action="print" tooltip="Print Assignment" 
        [smPrintAssignment]="data.id"
        (printFail)="pageService.setLoading(false)"
        (lookupFail)="pageService.setLoading(false)" 
        (lookupStart)="pageService.setLoading(true)" 
        (printStart)="pageService.setLoading(false)" 
        *hasPermission="Permission.ASSIGNMENT_VIEW">
      </sm-datatable-row-action>
      <sm-datatable-row-action action="fact_check" tooltip="View Answer Key" [route]="['/assignment', data.id, 'answer-key']" *hasPermission="Permission.ASSIGNMENT_VIEW"></sm-datatable-row-action>
      <sm-datatable-row-action action="edit" tooltip="Edit Assignment" [route]="['/assignment', data.id, 'edit']" *hasPermission="Permission.ASSIGNMENT_UPDATE"></sm-datatable-row-action>
      <sm-datatable-row-action action="delete" tooltip="Delete Assignment" (click)="delete(data.id)" *hasPermission="Permission.ASSIGNMENT_DELETE"></sm-datatable-row-action>
    </ng-container>
  </sm-datatable-row-actions>
  
  <sm-datatable-bulk-action action="delete" tooltip="Delete Selected Assignments" (select)="delete($event)" *hasPermission="Permission.ASSIGNMENT_DELETE"></sm-datatable-bulk-action>
</sm-datatable>

