<ng-container *ngIf="assignment">
    <div class="mat-typography">
        <section class="assignment-detail">
            <ng-container *ngIf="assignment?.book">
                <ng-container *hasPermission="Permission.BOOK_VIEW; else nonlinked">
                    <figure class="book-detail">
                        <a [routerLink]="['/approved-books', assignment.book.id, 'view']">
                            <img src="{{assignment.book?.coverImage|asset}}" alt="{{assignment.book.title}}" (error)="assignment.book.coverImage = placeholderImage" class="book-cover">
                        </a>
                        <figcaption>
                            <a [routerLink]="['/approved-books', assignment.book.id, 'view']">{{assignment.book.title}}</a>
                        </figcaption>
                    </figure>
                </ng-container>
                <ng-template #nonlinked>
                    <figure class="book-detail">
                        <img src="{{assignment.book?.coverImage|asset}}" alt="{{assignment.book.title}}" (error)="assignment.book.coverImage = placeholderImage" class="book-cover">
                        <figcaption>{{assignment.book.title}}</figcaption>
                    </figure>
                </ng-template>
            </ng-container>
            <div class="detail-section" *ngIf="assignment.description">
                <h2>Description</h2>

                <div [innerHTML]="assignment.description"></div>
            </div>
            <div class="detail-section" *ngIf="assignment.files.length > 0">
                <h2>Attached Files</h2>

                <ul class="file-list" *ngIf="assignment?.files">
                    <li *ngFor="let file of assignment.files">
                        <div><a href="{{file.path|asset}}" target="_blank">{{file.name}}</a></div> 
                    </li>
                </ul>
            </div>
        </section>
    
        
        <ng-container *ngIf="assignment?.sections.length > 0">
            <mat-tab-group animationDuration="0ms" [dynamicHeight]="true">
                <mat-tab *ngFor="let section of assignment.sections">
                    <ng-template mat-tab-label>{{section.title}}</ng-template>

                    <section *ngIf="section?.instructions" [innerHTML]="section?.instructions" class="section-instructions"></section>

                    <section class="question question {{question.type}}" *ngFor="let question of section.questions; let i = index">
                        <h2>Question {{i+1}} <span class="question-type">{{question.type|questionType}}</span></h2>
                        <div [innerHTML]="question.question"></div>

                        <ng-container *ngIf="question?.answers?.length > 0">
                            <ng-container *ngIf="['short_answer', 'vocab'].includes(question.type)">
                                <div class="answer" *ngFor="let answer of question.answers">
                                    <h3>{{question.answers.length > 1 ? 'Possible ' : ''}}Answer</h3>
                                    <div [innerHTML]="answer?.answer"></div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="['multiple_choice', 'multiple_answer'].includes(question.type)">
                                <div class="answer">
                                    <h3>Answer Options</h3>
                                    <ol class="answer-list" *ngIf="question?.answers?.length > 0">
                                        <li *ngFor="let answer of question.answers">
                                            <mat-icon *ngIf="answer.correct">check</mat-icon>
                                            <div [innerHTML]="answer.answer"></div>
                                        </li>
                                    </ol>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="['essay'].includes(question.type)">
                                <div class="answer">
                                    <h3>Answer Notes</h3>
                                    <div [innerHTML]="question?.answers[0]?.answer"></div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </section>
               </mat-tab>
            </mat-tab-group>
        </ng-container>
    </div>
</ng-container>