<form [formGroup]="form">
    <h1>Assignment Details</h1>
    <div fxLayout="row">
        <div fxFlex="50">
            <div fxLayout="column">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                    <mat-error *ngIf="form.get('title').hasError('api')">{{form.get('title').getError('api')}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Subject and Level</mat-label>
                    <input type="text" matInput placeholder="Choose the subject and level" formControlName="level" [matAutocomplete]="levelSelect">
                    <mat-autocomplete #levelSelect="matAutocomplete" [displayWith]="getLevelName">
                        <mat-optgroup *ngFor="let subject of availableLevels | keyvalue" [label]="subject.key">
                            <mat-option *ngFor="let level of subject.value" [value]="level">{{level.name}}</mat-option>
                        </mat-optgroup>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error *ngIf="form.get('description').hasError('api')">{{form.get('description').getError('api')}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex="50">
            <section class="detail-section">
                <h2>Associated Book</h2>

                <ng-container *ngIf="assignment?.book; else noBook">
                    <p>This Assignment is Associated With:</p>

                    <figure class="book-detail" style="cursor: pointer" (click)="selectBook()">
                        <img src="{{assignment.book?.coverImage|asset}}" alt="{{assignment.book.title}}" (error)="assignment.book.coverImage = placeholderImage" class="book-cover">
                        <figcaption>{{assignment.book.title}}</figcaption>
                    </figure>
                </ng-container>
                <ng-template #noBook>
                    <p>
                        This assignment is not associated with a book.  
                    </p>
                    <button mat-stroked-button (click)="selectBook()" class="primary"><mat-icon>menu_book</mat-icon> Connect a book</button>
                </ng-template>
            </section>
            <section class="detail-section">
                <h2>Attached Files</h2>

                <ul class="file-list" *ngIf="assignment?.files">
                    <li *ngFor="let file of assignment.files">
                        <div><a href="{{file.path|asset}}" target="_blank">{{file.name}}</a></div> 
                        <mat-icon class="delete-file" (click)="removeFile(file)">delete</mat-icon>
                    </li>
                </ul>
                <button mat-stroked-button (click)="addFiles()" class="primary"><mat-icon>attach_file</mat-icon> Add More Files</button>
            </section>

        </div>
    </div>

    <mat-divider></mat-divider>

    <mat-fab-menu color="accent" [fabButtons]="fabMenuButtons" (onFabMenuItemSelected)="fabMenuAction($event)" style="position:fixed; bottom: 25px; right: 25px; z-index: 1000"></mat-fab-menu>


    <ng-container *ngIf="sections.length > 0; else noTemplate" formArrayName="sections">
        <mat-tab-group animationDuration="0ms" [dynamicHeight]="true" [selectedIndex]="currentSection" (selectedIndexChange)="setCurrentSection($event)" (selectedTabChange)="syncSectionFields($event.index)">
            <mat-tab *ngFor="let section of sections.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <ng-template mat-tab-label>{{section.get('title').value}} <button mat-icon-button (click)="removeSection(i)"><mat-icon matTooltip="Delete Section" color="warn">delete</mat-icon></button> </ng-template>

                    <mat-accordion multi>
                        <mat-expansion-panel style="margin: 30px 0">
                            <mat-expansion-panel-header>
                                <mat-panel-title>Section Configuration</mat-panel-title>
                            </mat-expansion-panel-header>

                            <div fxLayout="row">
                                <mat-form-field>
                                    <mat-label>Section Title</mat-label>
                                    <input matInput formControlName="title">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row">
                                <div class="mat-form-field">
                                    <h4>Section Instructions</h4>
                                    <quill-editor [modules]="quillConfiguration" formControlName="instructions"></quill-editor>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Section Questions</mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-accordion multi cdkDropList (cdkDropListDropped)="repositionQuestion($event)">
                                <mat-expansion-panel expanded cdkDrag class="question {{question.get('type').value}}" *ngFor="let question of getFormQuestions(i).controls; let j = index" formArrayName="questions">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <h3>Question {{j+1}}</h3>
                                        </mat-panel-title>
                                        <mat-panel-description class="question-title">
                                            <!-- <button mat-icon-button *ngIf="j > 0" (click)="moveQuestion(j, 'up')" matTooltip="Move Question Up"><mat-icon>expand_less</mat-icon></button>
                                            <button mat-icon-button *ngIf="j < getFormQuestions(i).controls.length-1" (click)="moveQuestion(j, 'down')" matTooltip="Move Question Down"><mat-icon>expand_more</mat-icon></button> -->
                                            <mat-icon cdkDragHandle>open_with</mat-icon>
                                            <button mat-icon-button (click)="removeQuestion(j)" matTooltip="Delete Question"><mat-icon color="warn">delete</mat-icon></button>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <ng-container [formGroupName]="j">
                                        <mat-form-field>
                                            <mat-label>Question Type</mat-label>
                                            <mat-select formControlName="type">
                                                <mat-select-trigger>{{question.get('type').value | questionType}}</mat-select-trigger>
                                                <mat-option value="vocab"><mat-icon>text_format</mat-icon> {{'vocab' | questionType}}</mat-option>
                                                <mat-option value="multiple_choice"><mat-icon>radio_button_checked</mat-icon> {{'multiple_choice' | questionType}}</mat-option>
                                                <mat-option value="multiple_answer"><mat-icon>check_box</mat-icon> {{'multiple_answer' | questionType}}</mat-option>
                                                <mat-option value="short_answer"><mat-icon>short_text</mat-icon> {{'short_answer' | questionType}}</mat-option>
                                                <mat-option value="essay"><mat-icon>notes</mat-icon> {{'essay' | questionType}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
    
                                        <ng-container [ngSwitch]="question.get('type').value">
                                            <!-- VOCAB QUESTION TEMPLATE -->
                                            <ng-container *ngSwitchCase="'vocab'">
                                                <mat-form-field>
                                                    <mat-label>Vocab Term</mat-label>
                                                    <input matInput formControlName="question">
                                                </mat-form-field>
    
                                                <h4>Possible Answers</h4>
                                                <div fxLayout="row" formArrayName="answers">
                                                    <ul *ngIf="getQuestionAnswers(i,j).length > 0" class="question-answer-list">
                                                        <li *ngFor="let answer of getQuestionAnswers(i,j).controls; let k = index">
                                                            <ng-container [formGroupName]="k">
                                                                <mat-form-field>                                                                    
                                                                    <input matInput formControlName="answer">
                                                                </mat-form-field>
                                                                <button mat-icon-button (click)="removeAnswer(j, k)" matTooltip="Delete Answer" matTooltipPosition="after"><mat-icon>clear</mat-icon></button>
                                                            </ng-container>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div fxLayout="row">
                                                    <button mat-icon-button (click)="addAnswer(j)"><mat-icon>add</mat-icon> Add Answer</button>
                                                </div>
                                            </ng-container>
    
                                            <!-- SHORT ANSWER QUESTION TEMPLATE -->
                                            <ng-container *ngSwitchCase="'short_answer'">                                            
                                                
                                                <h4>Question</h4>
                                                <div fxLayout="row" class="question-editor">
                                                    <quill-editor [modules]="quillConfiguration" formControlName="question" [styles]="{height: quillHeight}"></quill-editor>
                                                </div>
    
                                                <h4>Possible Answers</h4>
                                                <div fxLayout="row" formArrayName="answers">
                                                    <ul *ngIf="getQuestionAnswers(i,j).length > 0" class="question-answer-list">
                                                        <li *ngFor="let answer of getQuestionAnswers(i,j).controls; let k = index">
                                                            <ng-container [formGroupName]="k">
                                                                <quill-editor [modules]="quillConfiguration" formControlName="answer" [styles]="{height: quillHeight}"></quill-editor>
                                                                <button mat-icon-button (click)="removeAnswer(j, k)" matTooltip="Delete Answer" matTooltipPosition="after"><mat-icon>clear</mat-icon></button>
                                                            </ng-container>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div fxLayout="row">
                                                    <button mat-icon-button (click)="addAnswer(j)"><mat-icon>add</mat-icon> Add Answer</button>
                                                </div>
                                            </ng-container>
    
                                            <!-- ESSAY QUESTION TEMPLATE -->
                                            <ng-container *ngSwitchCase="'essay'">
                                                <h4>Essay Prompt</h4>
                                                <div fxLayout="row" class="question-editor">
                                                    <quill-editor [modules]="quillConfiguration" formControlName="question"></quill-editor>
                                                </div>
    
                                                <h4>Answer Notes</h4>
                                                <div fxLayout="row" class="question-editor" formArrayName="answers">
                                                    <ng-container [formGroupName]="0">
                                                        <quill-editor [modules]="quillConfiguration" formControlName="answer" [styles]="{height: quillHeight}"></quill-editor>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
    
                                            <!-- MULTIPLE CHOICE QUESTION TEMPLATE -->
                                            <ng-container *ngSwitchCase="'multiple_choice'">
                                                <h4>Question</h4>
                                                <div fxLayout="row" class="question-editor">
                                                    <quill-editor [modules]="quillConfiguration" formControlName="question" [styles]="{height: quillHeight}"></quill-editor>
                                                </div>
    
                                                <h4>Possible Answers</h4>
                                                <mat-radio-group formControlName="correct">
                                                <div fxLayout="row" formArrayName="answers">
                                                    <ul *ngIf="getQuestionAnswers(i,j).length > 0" class="question-answer-list">
                                                        <li *ngFor="let answer of getQuestionAnswers(i,j).controls; let k = index">
                                                            <ng-container [formGroupName]="k">
                                                                <quill-editor [modules]="quillConfiguration" formControlName="answer" [styles]="{height: quillHeight}"></quill-editor>
                                                                <button mat-icon-button (click)="removeAnswer(j, k)" matTooltip="Delete Answer" matTooltipPosition="after"><mat-icon>clear</mat-icon></button>
                                                                <div class="correct-answer">
                                                                    <mat-radio-button [value]="k"> This is the correct answer</mat-radio-button>
                                                                </div>
                                                            </ng-container>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div fxLayout="row">
                                                    <button mat-icon-button (click)="addAnswer(j)"><mat-icon>add</mat-icon> Add Answer</button>
                                                </div>
                                                </mat-radio-group>
                                            </ng-container>
    
                                            <!-- MULTIPLE ANSWER QUESTION TEMPLATE -->
                                            <ng-container *ngSwitchCase="'multiple_answer'">
                                                <h4>Question</h4>
                                                <div fxLayout="row" class="question-editor">
                                                    <quill-editor [modules]="quillConfiguration" formControlName="question" [styles]="{height: quillHeight}"></quill-editor>
                                                </div>
    
                                                <h4>Possible Answers</h4>
                                                <div fxLayout="row" formArrayName="answers">
                                                    <ul *ngIf="getQuestionAnswers(i,j).length > 0" class="question-answer-list">
                                                        <li *ngFor="let answer of getQuestionAnswers(i,j).controls; let k = index">
                                                            <ng-container [formGroupName]="k">
                                                                <quill-editor [modules]="quillConfiguration" formControlName="answer" [styles]="{height: quillHeight}"></quill-editor>
                                                                <button mat-icon-button (click)="removeAnswer(j, k)" matTooltip="Delete Answer" matTooltipPosition="after"><mat-icon>clear</mat-icon></button>
                                                                <div class="correct-answer">
                                                                    <mat-checkbox formControlName="correct"> This is the correct answer</mat-checkbox>
                                                                </div>
                                                            </ng-container>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div fxLayout="row">
                                                    <button mat-icon-button (click)="addAnswer(j)"><mat-icon>add</mat-icon> Add Answer</button>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </mat-expansion-panel>
                            </mat-accordion>

                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </ng-container>

    <!-- Template for when there is no template existing -->
    <ng-template #noTemplate>
        <h2 style="margin-top: 2rem">There is currently no structure for this assignment.  Choose an assignment type to get started.</h2>

        <div class="assignment-structure-selection">
            <button class="blank-sectioned" (click)="setTemplate('blank')">
                <h3 class="mat-title">Blank Assignment</h3>
                <p class="mat-body-1">Create a new assignment which contains sections to categorize the questions. Start by creating your first section.</p>
            </button>
            <button class="reading-writing" (click)="setTemplate('readingWriting')">
                <h3 class="mat-title">Reading/Writing Assignment</h3>
                <p class="mat-body-1">Create a new assignment with sections for vocabulary, reading comprehension, and an essay.</p>
            </button>
        </div>
    </ng-template>

    <sm-sticky-panel>
        <button mat-flat-button class="primary" (click)="save()">Save</button>
        <a mat-flat-button class="tertiary" [routerLink]="backRoute">Cancel</a>
    </sm-sticky-panel>
</form>