<!-- START RUN CUSTOM DIRECTIVE ACTION -->
<ng-container *ngIf="action.actionType === 'directive'; else standardAction">  
  <ng-container *ngIf="action.directive === PageActionDirective.PRINT_ASSIGNMENT">
    <ng-container [ngSwitch]="action.type">
      <a *ngSwitchCase="'icon'"
        [matTooltip]="action?.text"
        matTooltipShowDelay="500"
        matTooltipHideDelay="300"
        matTooltipPosition="above"
        [ngClass]="['button', 'icon']"
        [smPrintAssignment]="action?.data?.id"
        (lookupStart)="pageService.setLoading(true)" 
        (printStart)="pageService.setLoading(false)"
        (printFail)="pageService.setLoading(false)"
        (lookupFail)="pageService.setLoading(false)">
          <mat-icon>{{action?.icon}}</mat-icon>
      </a>
      <a *ngSwitchCase="'tertiary'" 
        [ngClass]="['button', action.type]" 
        [smPrintAssignment]="action?.data?.id"]
        (lookupStart)="pageService.setLoading(true)" 
        (printStart)="pageService.setLoading(false)"
        (printFail)="pageService.setLoading(false)"
        (lookupFail)="pageService.setLoading(false)">{{action?.text}}</a>
      <button *ngSwitchDefault mat-flat-button 
        [ngClass]="action.type" 
        [smPrintAssignment]="action?.data?.id"
        (lookupStart)="pageService.setLoading(true)" 
        (printStart)="pageService.setLoading(false)"
        (printFail)="pageService.setLoading(false)"
        (lookupFail)="pageService.setLoading(false)">{{action?.text}}</button>
    </ng-container>
  </ng-container>
</ng-container>
<!-- START PERFORM STANDARD ROUTING/FUNCTION ACTION -->
<ng-template #standardAction>
  <ng-container [ngSwitch]="action.type">
    <a *ngSwitchCase="'icon'" 
      (click)="pageService.triggerAction(action)"
      [matTooltip]="action?.text"
      matTooltipShowDelay="500"
      matTooltipHideDelay="300"
      matTooltipPosition="above"
      [ngClass]="['button', 'icon']">            
        <mat-icon>{{action?.icon}}</mat-icon>
    </a>
    <a *ngSwitchCase="'tertiary'" (click)="pageService.triggerAction(action)" [ngClass]="['button', action.type]">{{action?.text}}</a>
    <button *ngSwitchDefault mat-flat-button (click)="pageService.triggerAction(action)" [ngClass]="action.type">{{action?.text}}</button>
  </ng-container>
</ng-template>