<sm-datatable [dataSource]="teachers" defaultSortColumn="name" [serverSideProcessing]="true" (dataRequest)="loadData($event)">
  <sm-datatable-column name="name" label="Name">
    <ng-container *smDatatableCell="let data">
      <a [routerLink]="['/teacher', data.id, 'view']" *hasPermission="Permission.TEACHER_VIEW; else nonlinked">{{data.lastName}}, {{data.firstName}}</a>
      <ng-template #nonlinked>{{data.lastName}}, {{data.firstName}}</ng-template>
    </ng-container>
  </sm-datatable-column>
  <sm-datatable-column name="email"></sm-datatable-column>
  <sm-datatable-column name="center" label="Center"></sm-datatable-column>

  <sm-datatable-row-actions>
    <ng-container *smDatatableCell="let data">
      <sm-datatable-row-action action="portrait" tooltip="Impersonate Teacher" (click)="impersonate(data)" *hasPermission="Permission.TEACHER_IMPERSONATE"></sm-datatable-row-action>
      <sm-datatable-row-action action="people" tooltip="View Teacher's Students" [route]="['/teacher', data.id, 'student']" *hasPermission="Permission.STUDENT_ASSIGN"></sm-datatable-row-action>
      <sm-datatable-row-action action="edit" tooltip="Edit Teacher" [route]="['/teacher', data.id, 'edit']" *hasPermission="Permission.TEACHER_UPDATE"></sm-datatable-row-action>
      <sm-datatable-row-action action="delete" tooltip="Delete Teacher" (click)="delete(data.id)" *hasPermission="Permission.TEACHER_DELETE"></sm-datatable-row-action>
    </ng-container>
  </sm-datatable-row-actions>
  
  <sm-datatable-bulk-action action="delete" tooltip="Delete Selected Teachers" (select)="delete($event)" *hasPermission="Permission.TEACHER_DELETE"></sm-datatable-bulk-action>
</sm-datatable>