<sm-datatable [dataSource]="centers" defaultSortColumn="name">
  <sm-datatable-column name="name">
    <ng-container *smDatatableCell="let data">
      <a [routerLink]="['/center', data.id, 'view']" *hasPermission="Permission.CENTER_VIEW; else nonlinked">{{data.name}}</a>
      <ng-template #nonlinked>{{data.name}}</ng-template>
    </ng-container>
  </sm-datatable-column>
  <sm-datatable-column name="streetAddress" label="Address">
    <ng-container *smDatatableCell="let data">
      {{data.streetAddress}}, {{data.city}}, {{data.state}} {{data.postalCode}}, {{data.country}}
    </ng-container>
  </sm-datatable-column>

  <sm-datatable-row-actions>
    <ng-container *smDatatableCell="let data">
      <ng-container *ngIf="data.useInventory">
        <sm-datatable-row-action action="menu_book" tooltip="Manage Book Inventory" [route]="['/center', data.id, 'book-inventory']" *hasPermission="Permission.CENTER_MANAGE_BOOKS"></sm-datatable-row-action>
      </ng-container>
      <sm-datatable-row-action action="edit" tooltip="Edit Center" [route]="['/center', data.id, 'edit']" *hasPermission="Permission.CENTER_UPDATE"></sm-datatable-row-action>
      <sm-datatable-row-action action="delete" tooltip="Delete Center" (click)="delete(data.id)" *hasPermission="Permission.CENTER_DELETE"></sm-datatable-row-action>
    </ng-container>
  </sm-datatable-row-actions>
  
  <sm-datatable-bulk-action action="delete" tooltip="Delete Selected Centers" (select)="delete($event)" *hasPermission="Permission.CENTER_DELETE"></sm-datatable-bulk-action>
</sm-datatable>