dl.hours-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    dt {
        width: 33%;
    }

    dd {
        display: flex;
        margin-left: 0;
        width: 100%;    
    }

    dt + dd {
        width: 66%;
    }

    dd + dd::before {
        width: 33%;
        content: "";
    }
}
