<form [formGroup]="form">
    <h1>General Information</h1>

    <div fxLayout="row">
        <mat-form-field fxFlex="50">
            <mat-label>Name</mat-label>
            <input matInput (keyup)="syncLabelToName($event.target.value)" formControlName="name">
            <mat-error *ngIf="form.get('name').hasError('api')">{{form.get('name').getError('api')}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50">
            <mat-label>Label</mat-label>
            <input matInput formControlName="label">
            <mat-error *ngIf="form.get('label').hasError('api')">{{form.get('label').getError('api')}}</mat-error>
        </mat-form-field>
    </div>

    <h1>Contact Information</h1>
    <div fxLayout="row">
        <mat-form-field fxFlex="100">
            <mat-label>Street Address</mat-label>
            <input matInput formControlName="streetAddress">
            <mat-error *ngIf="form.get('streetAddress').hasError('api')">{{form.get('streetAddress').getError('api')}}</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field fxFlex="30">
            <mat-label>City</mat-label>
            <input matInput formControlName="city">
            <mat-error *ngIf="form.get('city').hasError('api')">{{form.get('city').getError('api')}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="25">
            <mat-label>State</mat-label>
            <input matInput formControlName="state">
            <mat-error *ngIf="form.get('state').hasError('api')">{{form.get('state').getError('api')}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="20">
            <mat-label>Postal Code</mat-label>
            <input matInput formControlName="postalCode">
            <mat-error *ngIf="form.get('postalCode').hasError('api')">{{form.get('postalCode').getError('api')}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="25">
            <mat-label>Country</mat-label>
            <sm-country-select formControlName="country"></sm-country-select>
            <!-- <input matInput formControlName="country"> -->
            <mat-error *ngIf="form.get('country').hasError('api')">{{form.get('country').getError('api')}}</mat-error>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field fxFlex="50">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" #centerEmail>
            <mat-error *ngIf="form.get('email').hasError('api')">{{form.get('email').getError('api')}}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" formControlName="phone" [textMask]="TextMask.phone">
            <mat-error *ngIf="form.get('phone').hasError('api')">{{form.get('phone').getError('api')}}</mat-error>
        </mat-form-field>
    </div>

    <h1>Configuration</h1>
    <div fxLayout="row wrap">
        <mat-form-field fxFlex="100">
            <mat-label>Available Subjects</mat-label>
            <sm-autocomplete
                placeholder="Choose subject(s) which are available at this center"
                formControlName="subjects"
                [options]="availableSubjects"
                displayWith="name"
                itemId="id"></sm-autocomplete>
        </mat-form-field>
        <div fxFlex="100" fxFlex.md="30" style="margin: 1rem 0" *hasPermission="Permission.VIRTUAL_ACCESS">
            <mat-slide-toggle formControlName="visible"> This center has a physical location</mat-slide-toggle>
        </div>
        <div fxFlex="100" fxFlex.md="30" style="margin: 1rem 0">
            <mat-slide-toggle formControlName="useInventory"> This center has a book inventory</mat-slide-toggle>
        </div>
        <div fxFlex="100" fxFlex.md="40">
            <span>Students can checkout </span>
            <mat-form-field>
                <input matInput formControlName="bookCheckoutLimit">
            </mat-form-field>
            <span>books </span>
            <mat-form-field>
                <mat-select formControlName="bookCheckoutFrequency">
                    <mat-option *ngFor="let option of availableCheckoutFrequencies" [value]="option.key">{{option.label}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <h1>Hours of Operation</h1>
    <div formGroupName="hours" class="hours">
        <ng-container *ngFor="let day of ['M', 'T', 'W', 'R', 'F', 'S', 'U']">
            <div class="mat-body-2">
                {{day|dayOfWeek}}
            </div>
            <div>
                <mat-slide-toggle #mondayOpen [checked]="closedDayStates[day]">{{ (mondayOpen.checked) ? 'Open' : 'Closed' }}</mat-slide-toggle>
            </div>                    
            <ng-container *ngIf="mondayOpen.checked; else closed">
                <div [formArrayName]="day">
                    <div *ngFor="let schedule of getHours(day).controls; let i = index" class="hour-range">
                        <ng-container [formGroupName]="i">
                            <mat-form-field appearance="standard">
                                <mat-label>From</mat-label>
                                <input matInput type="time" formControlName="startTime">
                            </mat-form-field>
                            <div class="mat-body-2" style="padding: 0 1rem">-</div>
                            <mat-form-field appearance="standard">
                                <mat-label>To</mat-label>
                                <input matInput type="time" formControlName="endTime">
                            </mat-form-field>
                        </ng-container>
                        <button mat-icon-button *ngIf="i > 0" (click)="removeSchedule(day, i)"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
                <div>
                    <button mat-button (click)="addSchedule(day)"><mat-icon>more_time</mat-icon> Add New Time</button>
                </div>
            </ng-container>
            <ng-template #closed><div></div><div></div></ng-template>
        </ng-container>
    </div>

    <sm-sticky-panel>
        <button mat-flat-button class="primary" (click)="save()">Save</button>
        <a mat-flat-button class="tertiary" [routerLink]="backRoute">Cancel</a>
    </sm-sticky-panel>
</form>