<div *ngIf="student && false" class="mat-typography">

<!--     <section fxLayout="row wrap" fxFill style="margin-top: 2rem">
        <div fxFlex="100%">
            <h2 class="no-bottom-margin" style="border-bottom: 1px #aaa solid">General Information</h2>
        </div>
        <div fxFlex="50%" fxFlex.gt-sm="33%">
            <h3 style="color: #666; text-transform: uppercase; font-weight: bold">Username</h3>
            {{student.email}}
        </div>
        <div fxFlex="50%" fxFlex.gt-sm="33%">
            <h3>Password</h3>
            <a href="#">Change Password</a>
        </div>
        <div fxFlex="50%" fxFlex.gt-sm="33%">
            <h3>Gender</h3>
            {{student.gender}}
        </div>
    </section> -->
</div>

<div fxLayout="row wrap" fxFill *ngIf="student && true" class="no-outer-padding">
    <div fxFlex="100%" fxFlex.gt-sm="80%" fxFill class="mat-drawer-container" style="padding: 1rem;">
        <!--
        <h1 class="no-bottom-margin">{{student.firstName}} {{student.middleName}} {{student.lastName}}</h1>
        <p>
            Student since: {{student.dateFrom|date}}
        </p>
    -->
        <h2 class="no-bottom-margin">Contact Information</h2>


        <mat-nav-list fxLayout="row wrap">
            <mat-list-item fxFlex *ngFor="let contact of student?.contacts">
                <a mat-list-item [href]="generateContactLink(contact)">
                    <ng-container [ngSwitch]="contact.type">
                        <ng-container *ngSwitchCase="ContactType.MOBILE_PHONE">
                            <mat-icon matListIcon style="font-size: 36px; height: 36px; width: 36px; color: #444">smartphone</mat-icon>
                            <span matLine style="text-align: center">
                                <strong>{{contact.title}}</strong><br>
                                <span style="font-size: 1.2rem;">{{contact.value|phone}}</span>
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="ContactType.HOME_PHONE">
                            <mat-icon matListIcon>phone</mat-icon>
                            <span matLine style="text-align: center">
                                <strong>{{contact.title}}</strong><br>
                                <span style="font-size: 1.2rem;">{{contact.value|phone}}</span>
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="ContactType.WORK_PHONE">
                            <mat-icon matListIcon>phone</mat-icon>
                            <span matLine style="text-align: center">
                                <strong>{{contact.title}}</strong><br>
                                <span style="font-size: 1.2rem;">{{contact.value|phone}}</span>
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="ContactType.EMAIL">
                            <mat-icon matListIcon>email</mat-icon>
                            <span matLine style="text-align: center">
                                <strong>{{contact.title}}</strong><br>
                                <span style="font-size: 1.2rem;">{{contact.value|phone}}</span>
                            </span>
                        </ng-container>
                    </ng-container>
                </a>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>

        <style>
            .data-display{
                padding: 1rem;                
            }

            .data-label{
                color: #666;
                font-weight: bold;
                display: block;
            }
        </style>

        <h2 class="no-bottom-margin" style="margin-top: 2rem !important">General Details</h2>
        <section fxLayout="row wrap" fxFill style="padding: 0 16px;">
            <div fxFlex="50%" fxFlex.gt-sm="25%" class="data-display">
                <span class="data-label">Username</span>
                {{student.username}}
            </div>
            <div fxFlex="50%" fxFlex.gt-sm="25%" class="data-display">
                <span class="data-label">Joined</span>
                {{student.dateFrom|date}}
            </div>
            <div fxFlex="50%" fxFlex.gt-sm="25%" class="data-display">
                <span class="data-label">Gender</span>
                {{student.gender}}
            </div>
            <div fxFlex="50%" fxFlex.gt-sm="25%" class="data-display">
                <span class="data-label">Grade</span>
                {{student.dateOfBirth|grade}}
            </div>
            <div fxFlex="50%" fxFlex.gt-sm="25%" class="data-display">
                <span class="data-label">Date of Birth</span>
                {{student.dateOfBirth|date}} ({{student.dateOfBirth|age}})
            </div>
            <div fxFlex="50%" fxFlex.gt-sm="50%" class="data-display">
                <span class="data-label">School</span>
                {{student.school}}
            </div>
        </section>

        <h2 class="no-bottom-margin" style="margin-top: 2rem !important">Addresses</h2>
        <mat-nav-list fxLayout="row wrap">
            <mat-list-item fxFlex *ngFor="let address of student?.addresses">
                <address>
                    <h3 style="margin: 1rem 0 0">{{address.title}}</h3>
                    
                    {{address.streetAddress}}<br>
                    {{address.city}}, {{address.state}} {{address.postalCode}} {{address.country}}                    
                </address>
            </mat-list-item>
        </mat-nav-list>

<!--         <h2 class="no-bottom-margin" style="margin-top: 3rem">Progress</h2>
        <p>
            No progress report available
        </p> -->

    </div>

    <div fxFlex="100%" fxFlex.gt-sm="20%" fxFill style="padding: 1rem;">
        <h2 class="no-bottom-margin">Current Enrollments</h2>

        <mat-list fxLayout="row wrap">
            <mat-list-item fxFlex *ngFor="let enrollment of student?.enrollments">
                <span matLine>
                    <span>{{enrollment?.level?.subject?.name}} {{enrollment?.level?.name}}</span><br>
                    <span style="text-transform: uppercase; font-size: 0.8rem; color: #888">@ {{enrollment?.center?.name}}</span><br>
                </span>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>


        <h2 class="no-bottom-margin" style="margin-top: 3rem">
            Recent Submissions

            <a *ngIf="assignmentSubmissions.length > 3" [routerLink]="['/student', student.id, 'assignment-submission']" style="font-weight: normal; font-size: 1rem; text-decoration: none; margin-left: 1rem;">View All</a>
        </h2>

        <mat-nav-list fxLayout="row wrap" *ngIf="assignmentSubmissions.length > 0; else noSubmissions">
                <a mat-list-item [routerLink]="['/assignment-submission', submission.id, 'review']" fxFlex *ngFor="let submission of assignmentSubmissions | slice:0:3">
                    <span matLine>
                        <span>{{submission?.assignment?.title}}</span><br>
                        <span style="text-transform: uppercase; font-size: 0.8rem; color: #888">{{submission?.status}} @ {{submission?.dateFrom}}</span><br>
                    </span>
                    <mat-divider></mat-divider>
                </a>
        </mat-nav-list>
        <div style="text-align: right">          
        </div>

        <ng-template #noSubmissions>
            <p>
                No recent submissions
            </p>
        </ng-template>
    </div>
</div>