<sm-datatable [dataSource]="students" defaultSortColumn="name" [serverSideProcessing]="true" (dataRequest)="loadData($event)">
  <sm-datatable-column name="name" label="Name">
    <ng-container *smDatatableCell="let data">
      <a [routerLink]="['/student', data.id, 'view']" *hasPermission="Permission.STUDENT_VIEW; else nonlinked">{{data.lastName}}, {{data.firstName}} {{data.middleName}}</a>
      <ng-template #nonlinked>{{data.lastName}}, {{data.firstName}} {{data.middleName}}</ng-template>
    </ng-container>
  </sm-datatable-column>
  <sm-datatable-column name="center" label="Center"></sm-datatable-column>
  <sm-datatable-column name="enrollments" label="Enrollments" [sortable]="false">
    <ng-container *smDatatableCell="let data">
      <sm-subject-level-chip *ngFor="let enrollment of data?.enrollments" [level]="enrollment?.level" style="margin-right: 0.5rem"></sm-subject-level-chip>
    </ng-container>
  </sm-datatable-column>
  <sm-datatable-column name="dateFrom" label="Student Since">
    <ng-container *smDatatableCell="let data">
      {{data.dateFrom|date: "MMM d, y 'at' h:mm a"}}
    </ng-container>
  </sm-datatable-column>
  <sm-datatable-row-actions>
    <ng-container *smDatatableCell="let data">
      <sm-datatable-row-action action="portrait" tooltip="Impersonate Student" (click)="impersonate(data)" *hasPermission="Permission.STUDENT_IMPERSONATE"></sm-datatable-row-action>
      <sm-datatable-row-action action="post_add" tooltip="Add Assignment" (click)="addAssignment(data)" *hasPermission="Permission.ASSIGNMENT_ASSIGN"></sm-datatable-row-action>
      <sm-datatable-row-action action="list_alt" tooltip="Assignment Submissions" [route]="['/student', data.id, 'assignment-submission']" *hasPermission="Permission.ASSIGNMENT_REVIEW"></sm-datatable-row-action>
      <sm-datatable-row-action action="menu_book" tooltip="Book Checkouts" [route]="['/student', data.id, 'book-checkout']" *hasPermission="Permission.STUDENT_UPDATE"></sm-datatable-row-action>
      <sm-datatable-row-action action="edit" tooltip="Edit Student" [route]="['/student', data.id, 'edit']" *hasPermission="Permission.STUDENT_UPDATE"></sm-datatable-row-action>
      <ng-container *hasPermission="Permission.STUDENT_UPDATE">
        <sm-datatable-row-action action="lock" tooltip="Lock Student's Account" (click)="lock(data)" *ngIf="data.active"></sm-datatable-row-action>
        <sm-datatable-row-action action="lock_open" tooltip="Unlock Student's Account" (click)="unlock(data)" *ngIf="!data.active"></sm-datatable-row-action>
      </ng-container>
      <sm-datatable-row-action action="delete" tooltip="Delete Student" (click)="delete(data.id)" *hasPermission="Permission.STUDENT_DELETE"></sm-datatable-row-action>
    </ng-container>
  </sm-datatable-row-actions>
  
  <sm-datatable-bulk-action action="delete" tooltip="Delete Selected Students" (select)="delete($event)" *hasPermission="Permission.STUDENT_DELETE"></sm-datatable-bulk-action>
</sm-datatable>