.desktop_coupons_tiles_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 

    width:33.45vw;
    min-height:6.44vh;
    height:auto;
    margin-top:2vh;
    margin-left:5.21vw;    
    border: 1px solid #333333;
    box-sizing: border-box;
    

}
.desktop_coupons_tiles_store_info_container{ 
    
    float:left;
    margin-top:0vh;
    margin-left:1vw;
    
}
.desktop_coupons_tiles_store{
    margin-top:.4vh;    
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;

    color: #000000;


}
.desktop_coupons_tiles_store_address{
    display:block;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;

}
.desktop_coupons_tiles_store_details_container{
    
    width:16.39vw;
    height:6.44vh;   
    margin-top:-4.6vh;      
}
.desktop_coupons_tiles_store_price{
    margin-left:12vw;   
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #333333;
}
.desktop_coupons_tiles_store_button{
    
    
    margin-left:3vw;    
    width:7.5vw;
    height:2.56vh;    
    
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #333333;
    
    
    background: #C4C4C4;
    border-radius: 8px;

    text-align:center;
    cursor:pointer;

}
@media only screen and (max-width: 1440px) {
    .desktop_coupons_tiles_container{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
    
        width:73.45vw;
        min-height:6.44vh;
        height:auto;
        margin-top:2vh;
        margin-left:5.21vw;
              
    
    }
    .desktop_coupons_tiles_store_info_container{        
        margin-left:5vw;        
    }
    .desktop_coupons_tiles_store_price{
        margin-left:22vw;       
    }
    .desktop_coupons_tiles_store_button{
        position:relative;
        top:0vh;               
        left:18vmin;
        margin-left:0;
        right:10vw;    
        width:9.5vw;
        height:4.56vh;    
        
        font-style: normal;
        font-weight: normal;
        font-size: 1.7rem;
        line-height: 2rem;
        color: #333333;        
        
        background: #C4C4C4;
        border-radius: 8px;
        text-align:center;
        display:flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
    
    }
   

}
@media only screen and (max-width: 550px) {
    .desktop_coupons_tiles_container{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
    
        width:77.185vw;
        min-height:6.44vh;
        height:auto;
        margin-top:2vh;
        margin-left:2.11vw;    
        border: 1px solid #333333;
        box-sizing: border-box;       
    
    }
    .desktop_coupons_tiles_store_price{
        margin-left:15vw;       
    }
    .desktop_coupons_tiles_store_button{    
        position:static;
        margin-left:3vw;    
        width:19.375vw;
        height:2.811vh;    
        
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.2rem;
        color: #333333;
        
        
        background: #C4C4C4;
        border-radius: 8px;
    
        text-align:center;
        display:flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
    
    }

}