.desktop_coupon_component_container{
    display:inline-block;
    margin-top:1vh;
    margin-left:2.5vw;
    width:70.486vw;
    min-height:44.56vh; 
    height:auto;
    border: 2px solid #C4C4C4; 
    box-sizing: border-box;

}
.desktop_coupon_component_store_info{ 
    margin-top:2.22vh;
    margin-left:1.25vw;   
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.8rem;

}
.desktop_coupon_component_phone_number{
    margin-left:1.25vw;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;

}
.desktop_coupon_component_prescription{
    margin-top: 3vh;
    margin-left:1.25vw; 
    font-style: normal;
    font-weight: normal;
    font-size: 4.8rem;
    line-height: 5.6rem;
    color: #000000;

}
.desktop_coupon_component_details_container{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content:space-between;
    width:64.79vw;
    min-height:14.34vh;
    height:auto;
    margin-left:2.57vw;
    margin-top:1.11vh;
    background: #EFEFEF;
    border: 1px solid #C4C4C4; 
    box-sizing: border-box;

}
.desktop_coupon_component_deatils_identification{
    
    margin-left:0.865vw;
    margin-top:.67vh;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.8rem;
    list-style-type: none;
    color: #000000;
}
.desktop_coupon_component_deatils_price{
    
    margin-left:5vw;
    font-style: normal;
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 7.5rem;
    color: #333333;
}
.desktop_coupon_component_fine_print{ 
    float:left;
    margin-left:2.57vw;
    margin-top:.5vh;
    width:42.01vw;
    height:9.55vh;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;

    color: #999999;
}
.desktop_coupon_component_fine_declairment{
    float:right;
    margin-top:.5vh;
    margin-right:3.125vw;
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.2rem;
    text-align: center;

    color: #000000;


}
@media only screen and (max-width: 1440px) {
    .desktop_coupon_component_container{
        display:inline-block;        
        margin-top:1vh;
        margin-left:2.5vw;
        width:90.486vw;
        min-height:44.56vh; 
        height:auto;
        border: 2px solid #C4C4C4; 
        box-sizing: border-box;
    
    }
    .desktop_coupon_component_store_info{ 
        margin-top:2.22vh;
        margin-left:1.25vw;   
        font-style: normal;
        font-weight: normal;
        font-size: 2.4rem;
        line-height: 2.8rem;
    
    }
    .desktop_coupon_component_phone_number{
        margin-left:1.25vw;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2.1rem;
    
    }
    .desktop_coupon_component_prescription{
        margin-top: 3vh;
        margin-left:1.25vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 4.4rem;
        line-height: 5.6rem;
        color: #000000;
    
    }
    .desktop_coupon_component_details_container{
        display:flex;
        justify-content: center;
        align-items: center;
        align-content:space-between;
        width:84.79vw;
        min-height:14.34vh;
        height:auto;
        margin-left:2.57vw;
        margin-top:1.11vh;
        background: #EFEFEF;
        border: 1px solid #C4C4C4; 
        box-sizing: border-box;
    
    }
    .desktop_coupon_component_deatils_identification{
        margin-left:0.865vw;
        margin-top:.67vh;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.8rem;
        list-style-type: none;
        color: #000000;
    }
    .desktop_coupon_component_deatils_price{
        float:none;
        margin-top:0;
        margin-right:0;
        margin-left:5vw;
        font-style: normal;
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 7.5rem;
        color: #333333;
    }
    .desktop_coupon_component_fine_print{ 
        float:left;
        margin-left:2.57vw;
        margin-top:.5vh;
        width:42.01vw;
        height:9.55vh;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2.1rem;
    
        color: #999999;
    }
    .desktop_coupon_component_fine_declairment{
        float:right;
        margin-top:.5vh;
        margin-right:3.125vw;
        font-style: normal;
        font-weight: 500;
        font-size: 3rem;
        line-height: 4.2rem;
        text-align: center;
    
        color: #000000;
    
    
    }



}
@media only screen and (max-width: 550px) {
    .desktop_coupon_component_container{
        display:flex;
        align-items: center;
        flex-direction:column;
        position:relative;
        left: 9.5vw;
        top:8.40vh;
        display:flex;
        margin-top:0;
        margin-left:0;
        width:77.5vw;
        min-height:55.93vh; 
        height:auto;
        border: 2px solid #C4C4C4; 
        box-sizing: border-box;
    
    }
    .desktop_coupon_prescrition_detailes_container{
        display: flex;
        height:auto;
        justify-content:center;
        margin-left:10.19vw;

    }
    .desktop_coupon_component_prescription{
       // display:inline-block;
        width:43.75vw;
        min-height:7.56vh;
        //margin-top: 2.1vh;
        //margin-left:2.19vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 2.1rem;
        line-height: 2.6rem;
        color: #000000;    
    }
    .desktop_coupon_component_deatils_price{
        //display:inline-block;
        height:4.97vh;
        width:27.19vw;
        margin-top:4.11vh;
        margin-left:0;
        font-style: normal;
        font-weight: bold;
        font-size: 4.0rem;
        line-height: 3.5rem;
        color: #333333;
    }
    .desktop_coupon_component_store_info_component{

        margin-top:1.95vh;
        margin-left:1vw;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.2rem;
        color: #000000;
    }
    .desktop_coupon_component_details_container{
        display:flex;
        justify-content:center;
        align-items: center;
        margin-top:4.97vh;
        margin-left:8.31vw;
        width:62.19vw;
        min-height:17.49vh;
        height:auto;
        margin-left:2.57vw;
        margin-top:1.11vh;
        background: #EFEFEF;
        border: 1px solid #C4C4C4; 
        box-sizing: border-box;
    
    }
    
    .desktop_coupon_component_deatils_identification{
        display:inline-block;
        margin-left:0;
        margin-top:0;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1.8rem;
        list-style-type: none;
        color: #000000;
    }
    .desktop_coupon_component_deatils_identification li{
        margin-bottom:.2vh;
    }
    .desktop_coupon_component_fine_declairment{
        float:none;
        margin-top:2vh;

        margin-right:0;
        font-style: normal;
        font-weight: 500;
        font-size: 1.9rem;
        line-height: 1.6rem;
        text-align: center;
    
        color: #000000;    
    
    }
    .desktop_coupon_component_fine_print{ 
        float:left;
        margin-left:2.57vw;
        margin-top:.5vh;
        width:auto;
        height:auto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.1rem;
    
        color: #999999;
    }

}