.desktop_main_left_find_prescription_home_title{
    
    position:relative;
    top:2.34vh;
    left:1.45vw;
    right:14.37vw;
    
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;    
    color: #333333;    

}
.desktop_main_left_find_prescription_home_input{
  
  position:relative;
  width: 44.51vw;
  height:6.55vh;  
  top:2.11vh;
  left:1.46vw;
  font-size:2.6rem;
  line-height:4.2rem;
  font-style: normal;
  font-weight: normal;
  background: #EFEFEF;
    
}

.desktop-main-left-find-prescription-home-datalist option{
   font-size:3.6rem;
    line-height:4.2rem;
    font-style: normal;
    font-weight: normal;

}
.next_button_find_prescription{
  margin-top:1vh;
}

@media only screen and (max-width: 1440px) {
  .desktop_main_left_find_prescription_home_title{
    
    position:relative;
    top:1.75vh;
    left:2.52vw;
    right:none;
    
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.2rem;    
    color: #333333;    

}
.desktop_main_left_find_prescription_home_input{
  
  position:relative;
  width: 76.86vw;
  height:4.94vh;  
  top:2.43vh;
  left:1.46vw;
  font-size:2.6rem;
  line-height:4.2rem;
  font-style: normal;
  font-weight: normal;
  background: #EFEFEF;
    
}

}
@media only screen and (max-width: 550px) {
    .desktop_main_left_find_prescription_home_title{
    
        position:relative;
        top:1.58vh;
        left:3.75vw;
        right:5.625vw;
        
        font-style: normal;
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 2.1rem;    
        color: #333333;    
    
    }
    .desktop_main_left_find_prescription_home_input{
  
        position:relative;
        width: 77.5vw;
        height:7.38vh;  
        top:1.582vh;
        left:1.46vw;
        font-size:1.8rem;
        line-height:2.1rem;
        font-style: normal;
        font-weight: normal;
        background: #EFEFEF;
          
      }
      .desktop-main-left-find-prescription-home-datalist option{
        font-size:1.4rem;
         line-height:1.6rem;
         font-style: normal;
         font-weight: normal;
     
     }
  
  }