
/*
veresion 2 
Source: https://github.com/emilynorton?tab=repositories 
FirstRx
Created for FirstRx by TESCHGlobal, 2021 (EN)
*/









// Version 1 from wireframes 
// https://www.figma.com/proto/f1Af0b6joE7OVyo4R4hb7i/FirstRx-Design?node-id=25%3A1&viewport=520%2C440%2C0.5&scaling=min-zoom
// https://www.figma.com/proto/f1Af0b6joE7OVyo4R4hb7i/FirstRx-Design?node-id=102%3A1390&viewport=212%2C389%2C0.5&scaling=min-zoom
// https://www.figma.com/proto/f1Af0b6joE7OVyo4R4hb7i/FirstRx-Design?node-id=349%3A797&viewport=317%2C508%2C0.5&scaling=scale-down 

// .header_desktop_container{
   
//     min-height:14.8vh;
//     height:auto;
//     width:84.38vw;    
//     position:relative;
//     left:7.85vw;
//     top:4.9vh;
//     border:1px solid #c4c4c4; 
     
     
//    }
//    .header_desktop{
       
//      min-height:12.67vh;
//      height:auto;     
//      margin-left:.57vw;
//      margin-right:.57vw;
//      margin-top:1vh;
//      margin-bottom:1vh;  
//      background:#cccccc;
//      border:1px solid #cccccc;

//    }
   
//    .header_desktop_title_container{

//      position:absolute; 
//      top:3vh; 
//      right:64.02vw;  
//      left:1.73vw;
//      bottom:8.89vh;
//      height:2.88vh;
   
//      font-weight: bold;
//      font-style: normal;
//      font-size:4.8rem;
//      line-height:5.6rem ;
//      color:#000000;
     
//    }
//     .header_desktop_slogan_container{

//      position:absolute;
//      left:8.68vw;
//      right:40.97vw;
//      top:8.8vh; 
//      bottom:3.66vh;
//      height:2.34vh;
     
//      font-style:normal;
//      font-weight:normal;
//      font-size:2.0rem;
//      line-height:2.813rem;
//      color:#000000;
     
//    }
   
//    .header_desktop_about_first_rx_container{

//      position:absolute;
//      left:45.625vw;
//      right:25.69vw;
//      top:6.44vh;
//      bottom:6.9vh;
     
//      font-style:normal;
//      font-weight:bold;
//      font-size:2.4rem;
//      line-height:2.8rem;
//      color:#000000;
//      cursor:pointer;  
   
//    }
   
//    .header_desktop_help_container{

//      position:absolute;
//      left:58.68vw;
//      right:19.72vw;
//      top:6.44vh;
//      bottom:6.9vh;
//      font-style:normal;
//      font-weight:bold;
//      font-size:2.4rem;
//      line-height:2.8rem;
//      color:#000000; 
//      cursor:pointer; 
   
//    }
   
//    .header_desktop_select_language_label_container
//    {

//      position: absolute;
//      left: 68.40vw;
//      right: 4.30vw;
//      top: 4.5vh;
//      bottom: 8.9vh;  
//      font-style:normal;
//      font-weight:bold;
//      font-size:1.4rem;
//      line-height:1.6rem;
//      color:#000000;
   
//    }
   
   
//    .header_desktop_select_language{

//      width:11.67vw;
//      height:3vh;
//      position: absolute;
//      left: 68.40vw;
//      right: 4.30vw;
//      top: 7.33vh;
//      bottom: 5.22vh;
//      border: 1px solid #333333;
//      box-sizing: border-box;
//      font-size:1.4rem;
     
   
//    }
//    .header_desktop_select_language option{

//      font-family: Roboto;
//      font-style: normal;
//      font-weight: bold;   
//      color: #000000;
   
   
//     }
//     @media only screen and (max-width: 1440px) {
//       .header_desktop_container{
   
//         min-height:11.97vh;
//         height:auto;
//         width:96.04vw;    
//         position:relative;
//         left:2.52vw;
//         top:2.10vh;
//         border:1px solid #c4c4c4; 
         
         
//        }
//        .header_desktop{
       
//         min-height:10.55vh;
//         height:auto;     
//         margin-left:1.20vw;
//         margin-right:1.08vw;
//         margin-top:.67vh;
//         margin-bottom:.75vh;  
//         background:#cccccc;
//         border:1px solid #cccccc;
   
//       }
//       .header_desktop_title_container{

//         position:absolute; 
//         top:.75vh; 
//         right:none;  
//         left:3.23vw;
//         bottom:7.62vh;
//         height:2.17vh;
      
//         font-weight: bold;
//         font-style: normal;
//         font-size:5rem;
//         line-height:7.5rem ;
//         color:#000000;
        
//       }
//        .header_desktop_slogan_container{
   
//         position:absolute;
//         left:15.35vw;
//         right:none;
//         top:7vh; 
//         bottom:none;
//         height:1.76vh;
//         width:67.63vw;

//         font-style:normal;
//         font-weight:normal;
//         font-size:2.0rem;
//         line-height:3.5rem;
//         color:#000000;
        
//       }
//       .header_desktop_select_language_label_container{

//         position: absolute;
//         left: 55.75vw;
//         right: none;
//         top:2.33vh;
//         bottom: none;  
//         font-style:normal;
//         font-weight:bold;
//         font-size:1.6rem;
//         line-height:1.6rem;
//         color:#000000;
      
//       }      
//       .header_desktop_select_language{

//         width:19.11vw;
//         height:3.06vh;
//         position:absolute;      
//         left:72.78vw;
//         top: 2.09vh;
       
//         border: 1px solid #333333;
//         box-sizing: border-box;
//         font-size:1.8rem;
//         line-height:2.1rem;
//         background: #CCCCCC
      
//       }
//       .header_desktop_select_language option{

//         font-family: Roboto;
//         font-style: normal;
//         font-weight: bold; 
//         // font-size:1.8rem;
//         // line-height:2.1rem;  
//         color: #000000;
      
      
//        }
//       .hamburger_menu_container{
//         position:absolute;
//         float:right;
//         width:6.115vmin;
//         height:2.764vmin;        
//         top:6.276vh;
//         right:6.894vw;
//         cursor: pointer;
       
//       }  
//       .hamburger_menu_line{
//         margin-top:0.616vh;
//         width:6.11vmin;
//         height:0.46vmin; 
//         background: #333333;
//         border-radius: 8px;
  
//       }

//     } 
   
   
//    @media only screen and (max-width: 550px) {
   
//     .header_desktop_container{
     
//       min-height:8.260vh; 
//       width: 100vw;
//       height:8.260vh;      
//       position: relative;
//       top:0;
//       left:0;
//       bottom:81.2vh;
//       background:#cccccc;
//       display:flex;          
//      }
//      .header_desktop{
//       min-height:8.260vh; 
//       width: 100vw;
//       height:8.260vh;
//       margin-left:0vw;
//       margin-right:0vw;
//       margin-top:0vh;
//       margin-bottom:0vh;      
//      }
//      .header_desktop_title_container{

//       position:absolute; 
//       top:1.5vh; 
//       left:3.125vw;
      
//       height:auto;
    
//       font-weight: bold;
//       font-style: normal;
//       font-size:4rem;
//       line-height:3.5rem;
//       color:#000000;
      
//     }
//     .header_desktop_slogan_container{

//       position:absolute;
//       left:15.625vw;
//       top:5.31vh; 
//       height:auto;
      
//       font-style:normal;
//       font-weight:normal;
//       font-size:.9rem;
//       line-height:2.2rem;
//       color:#000000;
      
//     }
//     .hamburger_menu_container{
//       float:right;
//       position:absolute;
//       top:4.177vh;
//       right:5.834vw;
//       cursor: pointer;
     
//     }  
//     .hamburger_menu_line{
//       margin-top:0.616vh;
//       width:6.56vw;
//       height:0.41vh;

//       background: #333333;
//       border-radius: 8px;

//     }
//     .header_desktop_select_language{

//       width:18.162vw;
//       height:2.11vh;
//       position:absolute;      
//       left:79.69vw;
//       top: 1.40vh;
     
//       border: 1px solid #333333;
//       box-sizing: border-box;
//       font-size:1rem;
//       line-height:.9rem;
//       background: #CCCCCC
    
//     }
//     .header_desktop_select_language option{

//       font-family: Roboto;
//       font-style: normal;
//       font-weight: normal;   
//       color: #000000;
    
    
//     }
//     @media only screen and (max-height: 561px) {
      
//       .header_desktop_container{
     
//         min-height:8.260vh; 
//         width: 100vw;
//         max-width:120vw;
//         height:8.260vh;      
//         position: relative;
//         top:0;
//         left:0;
//         bottom:81.2vh;
//         background:#cccccc;
//         display:flex;          
//        }
//        .header_desktop{
//         min-height:8.260vh; 
//         width: 100vw;
//         height:8.260vh;
//         margin-left:0vw;
//         margin-right:0vw;
//         margin-top:0vh;
//         margin-bottom:0vh;
//         background:none;      
//        }      
//       }

//   }
    