@import './Home.module.scss';
.header_desktop_help{
    position:relative;       
    left:4.236vw;    
    top:.7vh;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-decoration-line: underline;
    cursor:pointer;
    color: #000000;

}
.main_desktop_help_title{
    margin-left:4.236vw;
    margin-top:2vh;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.6rem;
    color: #000000;

}
.main_desktop_help_question{
    margin-left:2.5vw;
    margin-top:2.77vh;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.5rem;
    
    color: #000000;
    

}
.main_desktop_help_content_title{
    margin-left:2.5vw;

    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.2rem;
    
    color: #000000;
    

}
.main_desktop_help_content_paragraph{
    margin-left:2.5vw;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;    
    color: #000000;    

}
@media only screen and (max-width: 550px) {
    .header_desktop_help{
        position:relative;       
        left:7.5vw;    
        top:3.07vh;
        font-style: normal;
        font-weight: normal;
        font-size: 2.2rem;
        line-height: 1.4rem;
        text-decoration-line: underline;
        cursor:pointer;
        color: #000000;
    
    }
    .main_desktop_help_title{
        position:relative;
        top:7.343vh;
        left:7.5vw;
        margin-left:0;
        margin-top:0;
        font-style: normal;
        font-weight: bold;
        font-size: 4.4rem;
        line-height: 4.8rem;
        color: #000000;
    
    }
    .main_desktop_help_question{
        position:relative;
        top:16.20vh;
        left:7.5vw;
        margin-left:0;
        margin-top:0;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 2rem;        
        color: #000000;        
    
    }
    .main_desktop_help_content_paragraph{
        position:relative;
        top:22.68vh;
        left:7.5vw;
        margin-left:0;
        font-style: italic;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.7rem;

        color: #666666;

    
    }
    



}
