.main_desktop_container{

  position:relative;
  left:7.85vw;
  right:7.85vw;
  top:7vh;    
  width: 84.38vw;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  min-height:60.66vh;
  height:auto;

 }
 
 .main_desktop_title{

     width:79.583vw;
     height:6.22vh;
     position:relative;       
     left:4.236vw;
     right:0.66vw;
     top:.5vh;
     bottom: 88vh;
     margin-bottom:1vh;       
     
     font-style: normal;
     font-weight: normal;
     font-size: 4.8rem;
     line-height: 5.6rem;
     color: #000000;
    
  }

.main_desktop_sides_container{

  // display:flex; 
  // flex-wrap: wrap;
  // flex-direction:row; 
  width: 84.38vw;

  
}
.main_desktop_sides_inner_container{
  display:flex; 
  flex-wrap: wrap;
  flex-direction:row; 
  width:100%;
  height:100%;
  
}
 .main_desktop_side_left{
   
  min-height:50.37vh;
  height:auto;    
  width:47.64vw;  
  margin-top:2.55vh;
  margin-left:4.236vw;
  margin-right:1.5vw;
  margin-bottom:2vh;
  background: #EFEFEF;
  border: 3px solid #c4c4c4;
  box-sizing: border-box;

 }
 .main_desktop_side_right{    
  
  border: 3px solid #c4c4c4;
  box-sizing: border-box;
  width:23.82vw;
  min-height:40.37vh;
  margin-top:2.55vh;
  margin-bottom:2vh;    
     
 }
 .main_desktop_bottom_container{

     position:relative;
     margin-left:7.85vw;
     margin-right:7.85vw;       
     border: 1px solid #c4c4c4;
     box-sizing: border-box;
     margin-top:8.5vh;
     min-height:13.8vh;
     height:auto;
     width:84.375vw;

     font-style: normal;
     font-weight: normal;
     font-size: 3rem;
     line-height: 3.5rem;
     color: #000000;       

 }
 .main_desktop_bottom_text{

  position:absolute;
  left:3.34vw;
  top: 2.23vh;    
  bottom:5.3vh;    
  min-height:13.8vh;

  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #000000;

}
@media only screen and (max-width: 1440px) {
  .main_desktop_title{

    width:91.486vw;
    height:4.7vh;
    position:relative;       
    left:4.076vw;
    right:none;
    top:3.18vh;
    bottom: none;
    margin-bottom:2.5vh;       
    
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 4.7rem;
    color: #000000;
   
 }
 .main_desktop_sides_container{

  // display:flex; 
  // flex-wrap: wrap;
  // flex-direction:row; 
  width: none;

  
}
.main_desktop_sides_inner_container{
  display:flex; 
  flex-wrap: wrap;
  flex-direction:column; 
  width:auto;
  height:auto;
  
}
 .main_desktop_side_left{
   
  min-height:40.37vh;
  height:auto;    
  width:91.85vw;  
  margin-top:2.55vh;
  margin-left:4.076vw;
  margin-right:4.44vw;
  margin-bottom:2vh;
  background: #EFEFEF;
  border: 3px solid #c4c4c4;
  box-sizing: border-box;

 }
 .main_desktop_side_right{    
  
  min-height:40.37vh;
  height:auto;    
  width:91.85vw;  
  margin-top:2.55vh;
  margin-left:4.076vw;
  margin-right:4.44vw;
  margin-bottom:2vh;
  border: 3px solid #c4c4c4;
  box-sizing: border-box;
  
     
 }

}
@media only screen and (max-width: 550px) {
  .main_desktop_container{

    position:relative;
    left:6.56vw;
    right:5.625vw;
    top:1.23vh;    
    width: 87.8125vw;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    min-height:60.66vh;
    height:auto;
  
   }
   .main_desktop_title{

    width:77.1875vw;
    height:9.842h;
    position:relative;       
    left:3.437vw;
    right:7.187vw;
    top:1.933vh;
    bottom: 48.858vh;
    margin-bottom:3.5vh;       
    
    font-style: normal;
    font-weight: normal;
    font-size: 3.0rem;
    line-height: 2.8rem;
    color: #000000;
   
 }
 .main_desktop_sides_container{

  // display:flex; 
  // flex-wrap: wrap;
  // flex-direction:row; 
  width: 86.5vw;

  
}
 .main_desktop_side_left{
   
  min-height:46.40vh;
  height:auto;    
  width:82.564vw;  
  margin-top:1.58vh;
  margin-left:2.8125vw;
  margin-right:2.5vw;
  margin-bottom:1.23vh;
  
  border: 1px solid #333333;
  box-sizing: border-box;
 }
 .main_desktop_bottom_container{

  //position:relative;
  margin-left:7.85vw;
  margin-right:7.85vw;       
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  margin-top:6.5vh;
  min-height:13.8vh;
  height:auto;
  width:82.564vw;

  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.0rem;
  color: #000000;       

}
.main_desktop_bottom_text{

//position:absolute;
margin-left:3.34vw;
margin-top: .23vh;    
bottom:5.3vh;    
min-height:13.8vh;
height:auto;

font-style: normal;
font-weight: normal;
font-size: 1.5rem;
line-height: 2rem;
color: #000000;

}


}











