.disabled_fonts_weight{
   color:black;
   font-weight:bolder;
}

.main_desktop_left_prescription_form_description{
   position:relative;
   width:45.61vw;
   left:1.32vw;
   right:2.71vw;
   margin-top:3.4vh;
   font-style: normal;
   font-weight: 500;
   font-size: 1.8rem;
   line-height: 2.1rem;

}
.main_desktop_left_prescription_form_title_container{
   position:relative;
   left:5.21vw;
   margin-top:1vh;
   right:9.8vw;
   width:37.5vw;
   min-height:3.9vh;   
}
.main_desktop_left_prescription_form_title{
   position: relative;
   top:0;
   left:0;    
   font-style: normal;
   font-weight: normal;
   font-size: 3rem;
   line-height: 3.5rem; 

}
.main_desktop_left_prescription_form_description_container{
   position:relative;    
   margin-top:2.5vh;
   height:24.1vh;
   width: 47.64vw;
   margin-bottom:.5vh;
   display:flex;
   flex-direction:column;
    
}
.main_desktop_left_prescription_form_label{
   position:relative;
   left:5.21vw;
   font-style: normal;
   font-weight: bold;
   font-size: 2rem;
   line-height: 2.3rem;
}
.main_desktop_left_prescription_form_select{
       width:23.33vw;
       height:2.08vw;      
      font-style: normal;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 2.1rem;
      
      background-color:#c4c4c4;
      border: 1px solid #c4c4c4;
      box-sizing: border-box;

} 
.main_desktop_left_prescription_form_select option{
   font-style: normal;
   font-weight: normal;
   font-size: 1.8rem;
   line-height: 2.1rem;

}
.manufactor_container{   
    height:auto;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    align-self: auto;
    flex-wrap: nowrap;
    margin-bottom:3vh;
   
}


.main_desktop_left_prescription_form_manufacturer_select{
   position:absolute;
   left:14.28vw;
   
}
.form_container{
    height:auto;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    align-self: auto;
    flex-wrap: nowrap;
    margin-bottom:3vh;

}
.main_desktop_left_prescription_form_format_select{
   position:absolute;
   left:14.28vw;

}
.dosage_container{
    height:auto;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    align-self: auto;
    flex-wrap: nowrap;
    margin-bottom:3vh;
}
.main_desktop_left_prescription_form_dosage_select{
   position:absolute;
   left:14.28vw;

}

.quantity_container{
   height:auto;
   display:flex;
   align-items: center;
   justify-content: flex-start;
   align-self: auto;
   flex-wrap: nowrap;
   margin-bottom:3vh;
}
.main_desktop_left_prescription_form_quantity_select{
   position:absolute;
   left:14.28vw;

}
.next_button_find_prescription{
   margin-top:1vh;
}
@media only screen and (max-width: 1440px){
   .main_desktop_left_prescription_form_title_container{
      position:relative;
      left:3.21vw;
      margin-top:1vh;
      right:9.8vw;
      width:100%;
      min-height:3.9vh;   
   }
   .main_desktop_left_prescription_form_description{
      position:relative;
      width:76.85vw;
      left:3.32vw;
      right:2.71vw;
      margin-top:3.4vh;
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.1rem;
   
   }
   .main_desktop_left_prescription_form_description_container{
      position:relative;    
      margin-top:2vh;
      height:auto;
      width: 100%;
      margin-bottom:2vh;
      display:flex;
      flex-direction:column;
      align-items:center; 
   }
   .main_desktop_left_prescription_form_label{
      position:relative;
      left:10vw;
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 2.3rem;
   }
   .main_desktop_left_prescription_form_select{
          width:43.33vw;
          height:5.08vh;      
         font-style: normal;
         font-weight: normal;
         font-size: 1.8rem;
         line-height: 2.1rem;
         
         background-color:#c4c4c4;
         border: 1px solid #c4c4c4;
         box-sizing: border-box;
   
   } 
   .manufactor_container{   
      height:auto;
      display:flex;
      width:100%;
      align-items: center;
      justify-content: flex-start;
      align-self: auto;
      flex-wrap: nowrap;
      margin-bottom:3vh;
     
  }
  
  
  .main_desktop_left_prescription_form_manufacturer_select{
     position:absolute;
     left:35vw;
     
  }
  .form_container{
      height:auto;
      width:100%;
      display:flex;
      align-items: center;
      justify-content: flex-start;
      align-self: auto;
      flex-wrap: nowrap;
      margin-bottom:3vh;
  
  }
  .main_desktop_left_prescription_form_format_select{
   position:absolute;
   left:35vw;  
  }
  .dosage_container{
      height:auto;
      width:100%;
      display:flex;
      align-items: center;
      justify-content: flex-start;
      align-self: auto;
      flex-wrap: nowrap;
      margin-bottom:3vh;
  }
  .main_desktop_left_prescription_form_dosage_select{
   position:absolute;
   left:35vw;
  
  }
  
  .quantity_container{
     height:auto;
     width:100%;
     display:flex;
     align-items: center;
     justify-content: flex-start;
     align-self: auto;
     flex-wrap: nowrap;
     margin-bottom:3vh;
  }
  .main_desktop_left_prescription_form_quantity_select{
   position:absolute;
   left:35vw;

  }
}
@media only screen and (max-width: 550px) {
   .prescription_detailed_form_container{
      width: 77.5vw;
      min-height:23.90vh;
      height:auto;
      margin-top:3vh;
      margin-left:1.46vw;
      background: #EFEFEF;
      border: 1px solid #C4C4C4;
      box-sizing: border-box
      
   }
   .main_desktop_left_prescription_form_description{
      position:relative;
      left:1.46vw;
      right:.71vw;
      margin-top:.7vh;
      font-style: normal;
      font-weight: bold;
      font-size: .9rem;
      line-height: 1.1rem;
   
   }
   .main_desktop_left_prescription_form_title_container{
      position:relative;
      left:5.21vw;
      margin-top:1vh;
      right:9.8vw;
      width:77.187vw;
      min-height:6.15vh;   
   }
   .main_desktop_left_prescription_form_title{
      position: relative;
      top:0;
      left:0;    
      font-style: normal;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 2.1rem; 
   
   }
  
   
   .main_desktop_left_prescription_form_description_container{
      position:relative;    
      margin-top:.5vh;
      height:auto;
      width: 100%;
      margin-bottom:2vh;
      display:flex;
      flex-direction:column;
      align-items:center; 
   }
   .main_desktop_left_prescription_form_label{
      position:relative;
      top:.2vh;
      left:1.46vw;
      font-style: normal;
      font-weight: normal;
      font-size: 1.2rem;
      line-height: 1.1rem;
   }
   .main_desktop_left_prescription_form_select{
      width:54.06vw;
      min-height:2.11vh;
      height:auto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.2rem;
      line-height: .9rem;        
      background-color:#c4c4c4;
      border: 1px solid #c4c4c4;
      box-sizing: border-box;
   
   } 

   .manufactor_container{   
      height:auto;
      display:flex;
      width:100%;
      align-items: center;
      justify-content: flex-start;
      align-self: auto;
      flex-wrap: nowrap;
      margin-bottom:2vh;
     
  }
  
  
  .main_desktop_left_prescription_form_manufacturer_select{
     position:absolute;
     left:21.56vw;
     
  }
  .form_container{
      height:auto;
      width:100%;
      display:flex;
      align-items: center;
      justify-content: flex-start;
      align-self: auto;
      flex-wrap: nowrap;
      margin-bottom:2vh;
  
  }
  .main_desktop_left_prescription_form_format_select{
   position:absolute;
   left:21.56vw;  
  }
  .dosage_container{
      height:auto;
      width:100%;
      display:flex;
      align-items: center;
      justify-content: flex-start;
      align-self: auto;
      flex-wrap: nowrap;
      margin-bottom:2vh;
  }
  .main_desktop_left_prescription_form_dosage_select{
   position:absolute;
   left:21.56vw;
  
  }
  
  .quantity_container{
     height:auto;
     width:100%;
     display:flex;
     align-items: center;
     justify-content: flex-start;
     align-self: auto;
     flex-wrap: nowrap;
     margin-bottom:0;
  }
  .main_desktop_left_prescription_form_quantity_select{
   position:absolute;
   left:21.56vw;

  } 
 
 }