.sliding_hamburger_menu_container_start{
    position:absolute;
    width:0;
    height:100vh;
    left:100vw;
    background: rgba(196, 196, 196, 0.95);
    z-index:1000;
    transition: .5s ease;
    overflow: hidden;

}
.sliding_hamburger_menu_container{    
    width:93.4375vw;    
    left:6.5625vw;
}


.sliding_hamburger_menu_content_container{
    
    margin-left:6.25vw;
    display:flex;
    justify-content: flex-start;
    flex-direction:column;
}
.sliding_hamburger_menu_title{
    font-style: normal;
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 3.8rem;

    color: #000000;

}
.sliding_hamburger_menu_container ul{
    margin-left:5.1vw;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8rem;
    line-height: 3.1rem;   
    text-align:left;
   


}
.sliding_hamburger_menu_container ul li{
    //display:flex;
    //align-items: center;
    //text-align:center;
    margin-bottom:5vh;
    cursor:pointer;
}
