.DisplayTimerBoxContainer-pagecontainer {
    position:absolute;
       
    background-color:rgba(0,0,0,0.6);
    width: 67%;
    min-height:47em;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}
.DisplayTimerBoxContainer-text{
    position:absolute;
    color:white;
    font-size:20em;
    margin-bottom:0.5em;
    
}