<sm-datatable [dataSource]="subjects" defaultSortColumn="name"[serverSideProcessing]="true" (dataRequest)="loadData($event)">
  <sm-datatable-column name="name">
    <ng-container *smDatatableCell="let data">
      <a [routerLink]="['/subject', data.id, 'view']" *hasPermission="Permission.SUBJECT_VIEW; else nonlinked">{{data.name}}</a>
      <ng-template #nonlinked>{{data.name}}</ng-template>
    </ng-container>
  </sm-datatable-column>

  <sm-datatable-row-actions>
    <ng-container *smDatatableCell="let data">
      <sm-datatable-row-action action="edit" tooltip="Edit Subject" [route]="['/subject', data.id, 'edit']" *hasPermission="Permission.SUBJECT_UPDATE"></sm-datatable-row-action>
      <sm-datatable-row-action action="storage" tooltip="Manage Levels" [route]="['/subject', data.id, 'level']" *hasPermission="[Permission.LEVEL_VIEW, Permission.LEVEL_CREATE, Permission.LEVEL_UPDATE, Permission.LEVEL_DELETE]"></sm-datatable-row-action>
      <sm-datatable-row-action action="delete" tooltip="Delete Subject" (click)="delete(data.id)" *hasPermission="Permission.SUBJECT_DELETE"></sm-datatable-row-action>
    </ng-container>
  </sm-datatable-row-actions>
  
  <sm-datatable-bulk-action action="delete" tooltip="Delete Selected Subjects" (select)="delete($event)" *hasPermission="Permission.SUBJECT_DELETE"></sm-datatable-bulk-action>
</sm-datatable>