<ng-container *ngIf="level">
    <div class="mat-typography">
        <section class="level-detail">

            <div class="detail-section" *ngIf="level.description">
                <h2>Description</h2>

                <div [innerHTML]="level.description"></div>
            </div>
            <div class="detail-section" *ngIf="level.files.length > 0">
                <h2>Attached Files</h2>

                <ul class="file-list" *ngIf="level?.files">
                    <li *ngFor="let file of level.files">
                        <div><a href="{{file.path|asset}}" target="_blank">{{file.name}}</a></div> 
                    </li>
                </ul>
            </div>
        </section>
    </div>
</ng-container>