@media screen and (max-width:1000px) {

    .keys-table-container {
        width: 65.854% !important;
    }

    .header {
        margin-bottom: 1rem !important;

    }
}

@media screen and (max-width:600px) {

    .keys-table-container {
        width: 85.854% !important;
    }

}