@import '~src/themes';

.patient-component-table-and-iq-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;

}
.patient-component-table-container-table {
    width: 86.5625%;
    border-collapse: collapse;


}

.patient-component-table-container-table-header {
    background-color: $elementBackgroundColor;
    height: 3.1875em;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;

}

.patient-component-table-container-table-col-1 {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.5em;



}

.patient-component-table-container-table-col-1-sub-title {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8333333333333334em;

}

.patient-component-table-container-table-col-2 {

    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 0.5em;


}
.head-checkbox-container {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    cursor:pointer;
}

.head-checkbox {
    width: .9em;
    height: .9em;
    background: $elementSelectedBackgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.5px;

    >hr {
        width: 0.425em;
        height: .06em;
        color: white;
        background-color: white;

    }


}

.patient-component-table-container-table-body {
    height: 5.6875em;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;

    .head-checkbox-container-body {
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .checkboxNotSelected {
        width: .9em;
        height: .9em;
        background: white;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3.5px;
        cursor: pointer;


    }

    .checkboxSelected {
        width: .9em;
        height: .9em;
        background: $elementSelectedBackgroundColor;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3.5px;
        cursor: pointer;

    }

    .backgroundCheckBoxesNotSelected {
        background: $elementSelectedBackgroundColor;
    }
    .opacity {
        opacity: 0.18;
    }
    
    

}
.pagination-container{
    list-style: none;
    display:inline-block;
    font-size:1.5em;
    
    .page-text {
      width:1.6em;
      height:1.6em;
      background-color:  $elementBackgroundColor;
      display:flex;
      align-items: center;
      justify-content: center;

      
    }
    .checkboxSelected {
        width: 1.6em;
        height: 1.6em;
        background: $elementSelectedBackgroundColor;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3.5px;
        color:white;
        cursor: pointer;

    }
    
}
