<ng-container *ngIf="book">
    <h2 class="with-chip">{{book.title}} <mat-chip-list><mat-chip color="primary" selected *ngIf="book?.assignment?.level">Lv {{book?.assignment?.level?.name}}</mat-chip></mat-chip-list></h2>

    <section>
        <figure>
            <img src="{{book?.coverImage|asset}}" alt="{{book.title}}" (error)="book.coverImage = placeholderImage">
        </figure>
        
        <div class="book-description" [innerHTML]="book.description"></div>

        <dl>
            <dt><mat-icon class="icon-non-interactive">class</mat-icon> <span>Level</span></dt>
            <dd>{{book?.level?.name}}</dd>
            <dt><mat-icon class="icon-non-interactive">local_library</mat-icon> <span>Author</span></dt>
            <dd>{{book?.authors | csv:'name'}}</dd>
            <dt><mat-icon class="icon-non-interactive">apartment</mat-icon> Publishers</dt>
            <dd>{{book?.publishers | csv:'name'}}</dd>
            <dt><mat-icon class="icon-non-interactive">local_offer</mat-icon> Genres</dt>
            <dd>{{book?.genres | csv:'name'}}</dd>
        </dl>
    </section>
</ng-container>