@import '~src/theme';

.cover-image {
    text-align: center;
    width: 100%;

    > figure {
        position: relative;
        display: inline-block;
        margin: 0;

        > input[type=image] {
            display: inline-block;
            width: 172px; 
            height: 260px;            
            border: 1px solid $color-mediumgray;
            overflow: hidden;
        }

        > mat-icon {
            position: absolute; 
            font-size: 36px; 
            width: 36px; 
            height: 36px; 
            top: 223px; 
            right: 10px; 
            color: rgba(0,0,0,0.8); 
            pointer-events: none;
        }
    }

    @include respond-to('desktop') {
        width: 200px;
    }
}