<form [formGroup]="form">
    <h1>Book Details</h1>
    <div fxLayout="row wrap">
        <div class="cover-image">
            <figure>
                <input type="image" formControlName="coverImagePath" [src]="coverImage" (click)="chooseCoverImage()" matTooltip="Click to change the cover image" matTooltipPosition="right">
                <input type="file" #coverImageUploader (change)="setCoverImage($event)" style="display: none">
                <mat-icon>add_a_photo</mat-icon>
            </figure>
        </div>
        <div fxFlex>
            <div fxLayout="row wrap">
                <mat-form-field fxFlex="100" fxFlex.gt-sm="50">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                    <mat-error *ngIf="form.get('title').hasError('api')">{{form.get('title').getError('api')}}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100" fxFlex.gt-sm="50">
                    <mat-label>ISBN</mat-label>
                    <input matInput formControlName="isbn">
                    <mat-error *ngIf="form.get('isbn').hasError('api')">{{form.get('isbn').getError('api')}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">

                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error *ngIf="form.get('description').hasError('api')">{{form.get('description').getError('api')}}</mat-error>
                </mat-form-field>
                <div fxFlex="50" class="form-static-text" *isMode="'EDIT'">
                    <label>Level</label>
                    <div class="mat-form-field-infix">
                        <span *ngIf="!book.assignment" matTooltip="Book level is determined by the associated assignment and there is no assignment is associated with this book">Not Defined</span>
                        <span *ngIf="book.assignment" matTooltip="Book level is determined by the associated assignment.">{{book?.level?.name}}</span>
                    </div>
                </div>
            </div>
            <div fxLayout="row"> 
                <mat-form-field fxFlex="50">
                    <mat-label>Authors</mat-label>
                    <sm-autocomplete
                        placeholder="Choose author(s)"
                        formControlName="authors"
                        [options]="availableAuthors"
                        displayWith="name"
                        itemId="id"></sm-autocomplete>
                    <mat-error *ngIf="form.get('authors').hasError('api')">{{form.get('authors').getError('api')}}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-label>Publishers</mat-label>
                    <sm-autocomplete
                        placeholder="Choose publisher(s)"
                        formControlName="publishers"
                        [options]="availablePublishers"
                        displayWith="name"
                        itemId="id"></sm-autocomplete>
                    <mat-error *ngIf="form.get('publishers').hasError('api')">{{form.get('publishers').getError('api')}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-label>Genres</mat-label>
                    <sm-autocomplete
                        placeholder="Choose genre(s)"
                        formControlName="genres"
                        [options]="availableGenres"
                        displayWith="name"
                        itemId="id"></sm-autocomplete>
                    <mat-error *ngIf="form.get('genres').hasError('api')">{{form.get('genres').getError('api')}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <sm-sticky-panel>
        <button mat-flat-button class="primary" (click)="save()">Save</button>
        <a mat-flat-button class="tertiary" [routerLink]="backRoute">Cancel</a>
    </sm-sticky-panel>
</form>