<sm-datatable [dataSource]="publishers" defaultSortColumn="name" [serverSideProcessing]="true" (dataRequest)="loadData($event)">
    <sm-datatable-column name="name">
      <ng-container *smDatatableCell="let data">
        <a [routerLink]="['/publisher', data.id, 'view']" *hasPermission="Permission.PUBLISHER_VIEW; else nonlinked">{{data.name}}</a>
        <ng-template #nonlinked>{{data.name}}</ng-template>
      </ng-container>
    </sm-datatable-column>

    <sm-datatable-row-actions>
      <ng-container *smDatatableCell="let data">
        <sm-datatable-row-action action="edit" tooltip="Edit Publisher" [route]="['/publisher', data.id, 'edit']" *hasPermission="Permission.PUBLISHER_UPDATE"></sm-datatable-row-action>
        <sm-datatable-row-action action="delete" tooltip="Delete Publisher" (click)="delete(data.id)" *hasPermission="Permission.PUBLISHER_DELETE"></sm-datatable-row-action>
      </ng-container>
    </sm-datatable-row-actions>
    
    <sm-datatable-bulk-action action="delete" tooltip="Delete Selected Publishers" (select)="delete($event)" *hasPermission="Permission.PUBLISHER_DELETE"></sm-datatable-bulk-action>
  </sm-datatable>
  
