<form [formGroup]="form">
    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="form.get('name').invalid">{{apiErrors('name')}}</mat-error>
        </mat-form-field>                
    </div>

    <sm-sticky-panel>
        <button mat-flat-button class="primary" (click)="save()">Save</button>
        <a mat-flat-button class="tertiary" [routerLink]="backRoute">Cancel</a>
    </sm-sticky-panel>
</form>